$myWhite: #fcfafa;
$grayBlue: #028090;
$pinky: #a80874;
 
body {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.container {
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    position: absolute;
    border: 2px solid $grayBlue;
    border-radius: 5px;
    display: grid;
}

#tableButtons {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%);
}

#wordShowCase {
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
}

.lineElementLetters {
    height: 60px;
}

#lettersOnLines {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

th {
    padding: 10px;
    border: 1px solid $pinky;
    border-radius: 5px;
    text-transform: capitalize;
}

h1 {
    font-size: 60px;
    color: $grayBlue;
}

.letterBtn {
    border: none;
    background: none;
    font-size: 25px;
}


#carousel {
    margin: auto;
    width: 500px;
    height: 245px;
    bottom: 30px;
    visibility: visible;
}

#explanation {
    position: absolute;
    left: 50.7%;
    bottom: 6px;
    transform: translate(-50%);
    width: 500px;
    height: 245px;
    visibility: hidden;
}

#lineElementLetters0 {
    text-transform: capitalize;
}

#correctWord {
    color: greenyellow;
}

#wrongWord {
    color: red;
}